:root{
    --bg:#0e2044;
    --card:#171a21;
    --text:#e8ecf1;
    --muted:#9aa3ad;
    --accent:#8dd2ff;
    --accent-2:#a5ffcb;
    --border:#262b35;
}

* {
    box-sizing: border-box;
}

html,body{
    margin:0; 
    padding:0; 
    background:var(--bg); 
    color:var(--text); 
    font: 16px/1.5 system-ui,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
}


.numBox{
    width: 40px;
    text-align: center;
    color: var(----text);
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: 10%;
}

text 

.container{ 
    display: grid;
    grid-template-columns: .25fr .15fr .5fr .25fr .15fr .5fr;
    max-width:1100px; 
    margin:0 auto; 
    padding:1rem; 
}

.nameFrame{
    display: grid;
    grid-template-columns: .25fr .5fr .1fr .1fr .1fr .1fr;
    max-width:1100px; 
    margin:2 auto; 
    padding:1rem; 
}